body {
  font-family: "Fasthand", cursive;
  font-size: 16px;
  background-color: #e3e3e3;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
  font-size: 32px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #45171d;
  color: #fecea8;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e84a5f;
  color: white;
}

.present {
  background-color: #ff847c;
  color: white;
}

.future {
  background-color: gray;
  color: white;
}

.btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #45171d;
  color: #fecea8;
}

.btn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
